<p><%= flash[:notice] %> </p> <br/><br/>

<b><%= @blog_post.title %></b> in Blog <b><%= @blog_post.blog.title %></b>
<br/>
<p><%= @blog_post.keywords %></p>
<p><%= @blog_post.author %></p>
<hr/>

<p><b>Summary:</b><%= @blog_post.summary %></p>  <br/>
<p><%= @blog_post.description %></p> 
<p><%= @blog_post.published? ? @blog_post.published_at : "[Not Published]" %></p> 
<hr/>
<%= link_to "Back to Index", blog_blog_posts_path(@blog_post.blog) %> | <%= link_to "Edit", edit_blog_blog_post_path(@blog_post, @blog_post.blog) %> | <%= link_to "Delete", blog_blog_post_path(@blog_post.blog, @blog_post), :method => "DELETE" %>
